version: "3.6"

services:
  solr:
    image: solr:9.10.0
    environment:
      - SOLR_OPTS=-Dsolr.config.lib.enabled=true
    ports:
      - "8983:8983"
    volumes:
      - solr-data:/var/solr
      - ./solr/config:/solr-setup/conf
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - dlme
      - /solr-setup/conf

  redis:
    image: "redis:5.0-alpine"
    ports:
      - "6379:6379"
    command: redis-server
    volumes:
      - "redis:/data"

volumes:
  redis:
  solr-data:
