<div class="row">
  <div class="item-provider col-lg-8 offset-lg-2">
    <%= render(Blacklight::DocumentMetadataComponent.new(fields: @local_fields, show: true)) %>
    <%= render 'catalog/contributor_link', document: @local_fields.first.document %>
  </div>
</div>

<%= render(Blacklight::DocumentMetadataComponent.new(fields: @fields, show: true)) %>