files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_notify.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      EB_CONFIG_SOURCE_BUNDLE=$(/opt/elasticbeanstalk/bin/get-config container -k source_bundle)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      
      APP_VERSION=$($RUBY_ROOT/bin/jsonpath ".RuntimeSources.DLME" /opt/elasticbeanstalk/deploy/manifest | egrep -o "[0-9a-f]{40}")
      bash -c 'curl -sd "deploy[repository]=git@github.com:sul-dlss/dlme.git&deploy[revision]=${APP_VERSION}&deploy[local_username]=root&deploy[environment]=${STACK_NAME}&api_key=${HONEYBADGER_API_KEY}" https://api.honeybadger.io/v1/deploys' > /tmp/deploy_01_notify.log
