<div class="date-sort-message alert alert-info alert-dismissible fade show" role="alert">
  <p>
    <%= t('contextual_date_sort_info.body') %>
  </p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
  <div class="text-right">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="alert">
      <%= t('contextual_date_sort_info.dismiss') %>
    </button>
    <%= button_to(
      t('contextual_date_sort_info.disable_session'),
      session_display_path(context: 'date_sort_info'),
      method: :patch,
      class: 'btn btn-outline-primary',
      remote: true)
    %>
  </div>
</div>
