<div class="alert alert-info alert-dismissible fade show" role="alert">
  <p>
    <%= t(
      'contextual_result_info.body_html',
      link: exhibit_about_page_path(current_exhibit, Settings.searching_site_slug)
    ) %>
  </p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="text-right">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="alert">
      <%= t('contextual_result_info.dismiss') %>
    </button>
    <%= button_to(
      t('contextual_result_info.disable_session'),
      session_display_path,
      method: :patch,
      class: 'btn btn-outline-primary',
      remote: true)
    %>
  </div>
</div>
