<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-5 logos">
        <a href="https://www.clir.org/">
          <span class="clir-logo">
            <i class="icon-clir-logo-square"></i> CLIR
          </span>
          <span class="dlf-logo">
            <i class="icon-dlf-logo"></i> DLF
          </span>
        </a>
    </div>
      <div class="col-md-7 clir-address">
        <p class="vcard">
          <span class="fn org">CLIR+DLF</span>,
          <span class="adr">
            <span class="street-address">1707 L St. NW</span>,
            <span class="street-address">Suite 650</span>,
            <span class="locality">Washington</span>,
            <span class="region">D.C.</span>
            <span class="postal-code">20036</span>
          </span>
        </p>
        <span class="phone">(202) 939-4750</span> •
        <span class="email"><a href="dlme@clir.org">dlme@clir.org</a></span>
        <ul class="list-inline social-links">
          <li>
            <a href="https://twitter.com/digilibraryme/">
              <%= image_tag("twitter-icon.png", height: "25", alt: "") %>Twitter
            </a>
          </li>
          <li>
            <a href="https://github.com/sul-dlss/dlme">
              <%= image_tag("github-icon.png", height: "15", alt: "") %> Github
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag("email-icon.png", height: "15", alt: "") %> Email List
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= render 'shared/analytics' %>
