<footer class="bg-gray">
  <div class="container" role="containerinfo">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <address>
          CLIR+DLF<br>
          1707 L St. NW,<br>
          Suite 650<br>
          Washington, DC 20036<br>
          <abbr title="Phone">P:</abbr>
          (202) 939-4750<br>
          <abbr title="Email">E:</abbr>
          <a href="dlme@clir.org">dlme@clir.org</a>
        </address>
      </div>
      <div class="col-md-9 col-sm-6">
        <h3>About DLME</h3>
        <p>
            In response to the tragic loss of and ongoing threat to the cultural heritage of the Middle East through destruction, looting, and illegal trade, the Digital Library of the Middle East (DLME) proposes a web platform that will federate Middle Eastern collections from around the world to create the first publicly accessible, seamlessly interoperable, large-scale digital library of cultural material from the region.
        </p>
        <h3>Social</h3>
        <ul class="list-inline">
          <li><a href="https://twitter.com/digilibraryme/"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="https://github.com/sul-dlss/dlme"><i class="fa fa-github"></i> GitHub</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> Email List</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-alt">
            <p class="logo">
              <a href="https://www.clir.org/">
                <i class="icon-clir-logo-square clir-color"></i>
                <span class="clir-font">CLIR</span>
                <i class="icon-dlf-logo dlf-color"></i>
                <span class="dlf-font">DLF</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<%= render 'shared/analytics' %>
