<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 logos">
        <a href="https://www.clir.org/">
          <span class="clir-logo">
            <i class="icon-clir-logo-square"></i>
            CLIR
          </span>
          <span class="dlf-logo">
            <i class="icon-dlf-logo"></i>
            DLF
          </span>
        </a>
      </div>
      <div class="col-md-8 clir-address">
        <p class="vcard">
          <span class="fn org">CLIR+DLF</span>,
          <span class="adr">
            <span class="street-address">2221 South Clark Street</span>,
            <span class="locality">Arlington</span>,
            <span class="region">VA</span>
            <span class="postal-code">22202</span>
          </span>
        </p>
        <span class="email">
          <a href="mailto:dlme@clir.org">dlme@clir.org</a>
        </span>
        <ul class="list-inline social-links">
          <li>
            <a href="https://twitter.com/digilibraryme/">
              <%= image_tag("twitter-icon.png", height: "25", alt: "") %>Twitter
            </a>
          </li>
          <li>
            <a href="https://github.com/sul-dlss/dlme">
              <%= image_tag("github-icon.png", height: "15", alt: "") %>
              Github
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag("email-icon.png", height: "15", alt: "") %>
              Email List
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= render 'shared/analytics' %>