<% if navigation.display? %>
  <li class="<%= token_list 'nav-item', { active: controller_name == 'contributors' } %>">
    <%= link_to(navigation.label_or_default, exhibit_contributors_path(current_exhibit), class: 'nav-link') %>
  </li>
<% end %>
