<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>
<%= configuration_page_title %>


<h1>Sources</h1>
<ul>
  <% @resources.each do |r| %>
    <li><%= link_to r.url, [current_exhibit, r] %></li>
  <% end %>
</ul>

<%= paginate @resources, outer_window: 2, theme: 'blacklight' %>
