@import 'blacklight/blacklight';

#documents {
  .index_title {
    font-size: $font-size-lg;
    margin-top: 0;
  }

  &.documents-list {
    .document {
      box-sizing: content-box;
      min-height: 100px;
      padding-bottom: spacer(3);
      padding-top: spacer(3);
    }

    .documentHeader,
    .document-metadata {
      margin-left: 120px;
    }

    .document-thumbnail {
      float: left;
      height: 0;
      margin: 0;
      padding: 0;

      // we don't know what size thumbnails we're getting so enforce
      // hard constraints for the index view
      img {
        max-height: 100px;
        max-width: 100px;
      }
    }
  }
}

.document-metadata .metadata-value {
  max-width: 50ch;
}

#sortAndPerPage {
  .btn {
    @extend .btn-sm;
  }
}
