.topbar {
  padding-bottom: .25rem;
  padding-top: .25rem;
}

.project-logo {
  color: $color-gray-light;
  font-size: $h4-font-size;
  padding-left: 10px;
}

/* override blacklight to hide the sidebar */
.blacklight-catalog-show {
  #content {
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}

/* override spotlight to make the metadata list wider */
.blacklight-catalog-show .dl-horizontal {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

.oembed-widget {
  width: 80%;
  margin-left: 10%;
}

body {
  margin-bottom: $footer-height + $footer-top-margin;

  @media (max-width: 991px) {
    margin-bottom: $footer-height + $footer-top-margin + $footer-mobile-adjustment;
  }
}

/* overrides for visual design changes */
.btn-primary {
  @include button-variant($color-black-light, $color-black-light);
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $color-gray-medium;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: $color-gray-lightest;
}

.table {
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray-medium;

  thead {
    background-color: $color-gray-light;
  }
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: $color-gray-light;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $color-gray-lightest;
}

.dl-invert dt {
  color: $color-black-medium;
}

.thumbnail {
  background-color: transparent;
  border: 0;
}

.breadcrumb {
  border-bottom: 1px solid $color-gray-medium;
  padding-left: 0;
  padding-right: 0;
  margin-left: $breadcrumb-padding-x;
  margin-right: $breadcrumb-padding-x;
}

.masthead .site-title {
  white-space: normal;
}

.image-masthead .navbar .navbar-nav .nav-link {
  letter-spacing: 0.5px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
}

.image-masthead .navbar .navbar-nav .nav-link,
.topbar .navbar-nav .nav-link {
  color: $color-gray-medium;

  &:hover,
  &:focus {
    color: $color-gray-light;
  }
}

.facet-limit-active {
  border-color: $color-gray-medium !important;

  & > .card-header {
    background-color: $color-gray-medium !important;
    border-color: $color-black-light;
    color: $color-blackish;
  }

  & > .card-header + .panel-collapse > .card-body {
    border-top-color: $color-gray-medium;
  }
}

// Overrides for mobile viewports
@media (max-width: 767px) {
  .navbar-default .navbar-form {
    border-color: transparent;
  }

  #sidebar .top-panel-heading {
    border: 0;
  }

  .masthead .site-title {
    text-align: center;
  }
}
