@font-face {
    font-family: 'easternarabicnumeralregular';
    src: url('eastern-arabic-numeral-regular-webfont.woff2') format('woff2'),
       url('eastern-arabic-numeral-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // Only use this font for characters 0 - 9
    unicode-range: U+0030-0039;
}
