// Add some styling around hierarchical facets
ul.facet-hierarchy {
  &,
  ul {
    padding-left: 0;
  }

  .facet-count {
    display: inline-block;
    float: right;
    text-align: right;
    width: 4.5em;
  }

  .facet_select {
    display: inline-block;
    margin-bottom: 6px;
    max-width: calc(100% - 5em);
    vertical-align: top;
  }

  .h-node {
    cursor: pointer;
    list-style-image: none;
    list-style-type: none;
    padding-left: 15px;

    &.twiddle {
      &:before {
        content: '⊞';
        display: inline-block;
        margin-left: -15px;
        vertical-align: top;
        width: 15px;
      }
    }

    &.twiddle-open {
      list-style-image: none;
      list-style-type: none;

      &:before {
        content: '⊟';
      }
    }
  }

  .h-leaf {
    margin-left: 15px;
  }
}
