@import url('https://fonts.googleapis.com/css?family=Crimson+Text:600');
@import 'clirdlf-logo-font';
@import 'clirdlf-clir-font';

.footer {
  background-color: #cacccb;
  border-top: 2px solid #ababba;
  bottom: 0;
  height: $footer-height;
  margin-top: $footer-top-margin;
  padding: 20px 10px 12px;
  position: absolute;
  width: 100%;

  .logos {
    font-size: 22px;
    letter-spacing: 1px;

    a:hover {
      text-decoration: none;
    }

    .clir-logo {
      color: $clir-burgundy;
      font-family: 'A028', serif;
      margin-right: 10px;
    }

    .dlf-logo {
      color: $dlf-blue;
      font-family: 'Crimson Text', serif;
      font-size: 1.2em;
    }
  }

  .clir-address {
    color: #333;
    padding-top: 0;

    .vcard {
      font-size: 15px;
      margin-bottom: 0;
    }

    .email {
      font-weight: 500;
    }
  }

  .social-links {
    margin-top: 12px;

    a {
      color: $color-blackish;
    }

    img {
      margin-bottom: 3px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    height: $footer-height + $footer-mobile-adjustment;
    padding-top: 15px;
    text-align: center;

    .logos {
      font-size: 20px;
    }

    .clir-address {
      margin-top: 12px;
    }
  }
}

@media (max-width: 567px) {
  .footer .logos {
    font-size: 16px;
  }
}
