@import 'clirdlf-logo-font';
@import 'clirdlf-clir-font';

.footer {
  background-color: $footer-background-color;
  border-top: 2px solid $gray-900;
  bottom: 0;
  height: $footer-height;
  margin-top: $footer-top-margin;
  padding: 20px 10px 12px;
  position: absolute;
  width: 100%;

  .logos {
    font-size: 22px;
    letter-spacing: 1px;

    a:hover {
      text-decoration: none;
    }

    .clir-logo {
      color: $color-gray-light;
      font-family: 'A028', serif;
    }
  }

  .partner-heading {
    color: $color-gray-light;
    font-size: 16px;
    font-weight: 300;
    margin-right: 12px;
    text-align: left;
  }

  .partner-logo {
    display: inline-block;
    margin-top: 10px;

    .mellon-logo {
      height: 50px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    padding-top: 15px;
    text-align: center;

    .logos {
      font-size: 20px;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    height: $footer-height + $footer-mobile-adjustment;

    .logos {
      font-size: 16px;
    }

    .partner-logo {
      margin-top: 6px;

      .mellon-logo {
        height: 40px;
      }
    }

    .mellon {
      margin-top: $spacer * 1.5;
    }
  }
}
