$clir-burgundy: #560319;
$dlf-blue:      #046BA5;

@import 'https://fonts.googleapis.com/css?family=Crimson+Text:600';
@import 'https://cdn.rawgit.com/clirdlf/logo-fonts/master/style.min.css';
@import 'https://cdn.rawgit.com/clirdlf/logo-fonts/master/clir-font/stylesheet.min.css';

.footer {
  background-color: #cacccb;
  border-top: 2px solid #ababba;
  bottom: 0;
  height: 120px;
  margin-top: 20px;
  padding: 20px 10px 12px;
  position: absolute;
  width: 100%;

  .footer-container {
    display: table;
    height: 100%;
  }

  .logos,
  .clir-address {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }

  .logos {
    font-size: 22px;
    letter-spacing: 1px;

    a:hover {
      text-decoration: none;
    }

    .clir-logo {
      color: $clir-burgundy;
      font-family: 'A028', serif;
      margin-right: 10px;
    }

    .dlf-logo {
      color: $dlf-blue;
      font-family: 'Crimson Text', serif;
      font-size: 1.2em;
    }
  }

  .clir-address {
    color: #333;
    padding-top: 0;
    width: 100%;

    .vcard {
      font-size: 15px;
      margin-bottom: 0;
    }

    .email {
      font-weight: 500;
    }
  }

  .social-links {
    margin-top: 12px;

    a {
      color: #222;
    }

    img {
      margin-bottom: 3px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    height: 160px;
  }

  .footer .footer-container {
    .logos,
    .clir-address {
      float: left;
      text-align: center;
      width: 100%;
    }

    .clir-address {
      margin-top: 12px;
    }
  }
}
