$breadcrumb-item-padding-x: 0.5rem !default;
@import 'bootstrap/rtl';

.filter-value,
.tooltip-inner,
.document-metadata dd,
.index_title a {
  unicode-bidi: plaintext;
}

.rtl,
[dir="rtl"] {
  /** The upstream stylsheet doesn't expect dir="rtl" on the <html> element.. */
  & body {
    text-align: right;
    direction: rtl;
  }

  /** Upstream is a little too eager reseting styles.. */
  .list-unstyled {
    padding-left: 0;
  }

  dd {
    margin-right: 0;
  }

  .dl-invert dt {
    text-align: left;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "\\";
  }

  /** Fix margins for the inline list (used in the footer) */
  .list-inline-item {
    &:last-child {
      margin-right: 0.5rem;
    }

    &:first-child {
      margin-right: 0;
    }
  }

  /** Blacklight-specific overrides */
  #skip-link {
    left: inherit;
    right: 10px;
  }

  .facet-field-heading button::after {
    float: left;
    transform: rotate(-90deg);
  }

  .facet-field-heading button.collapsed::after {
    transform: rotate(0deg);
  }

  .facet-values .facet-count {
    text-align: left;
  }

  .facet-values .remove {
    padding-right: 0.5rem;
  }

  .documents-list .document .document-thumbnail,
  #documents.documents-list .document-thumbnail {
    float: right;
  }

  #documents.documents-list .documentHeader, #documents.documents-list .document-metadata {
    margin-left: 0;
    margin-right: 120px;
  }

  .slideshow-documents .grid .document {
    float: right;
  }

  .view-type-list {
      transform: scale(-1);
  }

  .constraint-value {
    display: flex;
  }

  .applied-filter .filter-name:after {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  // blacklight-hierarchy overrides
  ul.facet-hierarchy {
    // Fix spacing on facet icons/counts
    .facet-count {
      float: left;
      text-align: left;
    }

    .twiddle:before {
      margin-left: 0;
      margin-right: -15px;
    }

    .h-node {
      padding-left: 0;
      padding-right: 15px;
    }

    .h-leaf {
      margin-left: 0;
      margin-right: 15px;
    }

    padding-right: 0;

    ul {
      padding-right: 0;
    }
  }

  .limit_content.range_limit{
    .profile, form.range_limit {
      direction: ltr;
    }
  }
}
