$breadcrumb-item-padding-x: 0.5rem !default;
@import 'bootstrap/rtl';

.facet-label .facet-select,
.facet-label .selected,
.filter-value,
.tooltip-inner,
.document-metadata dd,
.browse-category-title,
.blacklight-browse-show h1 .title,
.index_title a {
  unicode-bidi: plaintext;
}

.tooltip-inner {
  .from, .to {
    direction: ltr;
    unicode-bidi: isolate;
  }
}

.document-counter {
  unicode-bidi: isolate;
}

.rtl,
[dir="rtl"] {
  /** The upstream stylsheet doesn't expect dir="rtl" on the <html> element.. */
  & body {
    text-align: right;
    direction: rtl;
  }

  /** Upstream is a little too eager reseting styles.. */
  .list-unstyled {
    padding-left: 0;
  }

  dd {
    margin-right: 0;
  }

  .dl-invert dt {
    text-align: left;
  }

  /** Fix margins for the inline list (used in the footer) */
  .list-inline-item {
    &:last-child {
      margin-right: 0.5rem;
    }

    &:first-child {
      margin-right: 0;
    }
  }

  /** Blacklight-specific overrides */
  #skip-link {
    left: inherit;
    right: 10px;
  }

  .facet-field-heading button::after {
    float: left;
    transform: rotate(-90deg);
  }

  .facet-field-heading button.collapsed::after {
    transform: rotate(0deg);
  }

  .facet-values .facet-count {
    text-align: left;
  }

  .facet-values .remove {
    padding-right: 0.5rem;
  }

  .documents-list .document .document-thumbnail,
  #documents.documents-list .document-thumbnail {
    float: right;
  }

  #documents.documents-list .documentHeader, #documents.documents-list .document-metadata {
    margin-left: 0;
    margin-right: 120px;
  }

  .slideshow-documents .grid .document {
    float: right;
  }

  .view-type-list {
      transform: scale(-1);
  }

  .constraint-value {
    display: flex;
  }

  .applied-filter .filter-name:after {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  // blacklight-hierarchy overrides
  ul.facet-hierarchy {
    // Fix spacing on facet icons/counts
    padding-right: 0;

    ul {
      padding-left: 0;
      padding-right: 1.3em;
    }

    .h-leaf {
      padding-left: 0;
      padding-right: 0;
    }

    .facet-count {
      float: left;
      text-align: left;
    }
  }

  .limit_content.range_limit{
    .profile, form.range_limit {
      direction: ltr;
    }

    .flot-svg svg text {
      unicode-bidi: plaintext;
    }
  }

  .dlme-logo {
    margin-left: 0.75rem;
    margin-right: 0;
  }

  .image-masthead {
    .navbar-nav  {
      padding-right: 0;
    }

    .nav-item + .nav-item,
    .navbar-brand {
      margin-right: 0;
    }
  }
}
