$breadcrumb-item-padding-x: 0.5rem !default;
@import 'bootstrap/rtl';

.rtl,
[dir="rtl"] {
  /** The upstream stylsheet doesn't expect dir="rtl" on the <html> element.. */
  & body {
    text-align: right;
    direction: rtl;
  }

  /** Upstream is a little too eager reseting styles.. */
  .list-unstyled {
    padding-left: 0;
  }

  /** Fix margins for the inline list (used in the footer) */
  .list-inline-item {
    &:last-child {
      margin-right: 0.5rem;
    }

    &:first-child {
      margin-right: 0;
    }
  }

  /** Blacklight-specific overrides */
  .facet-field-heading button::after {
    float: left;
    transform: rotate(-90deg);
  }

  .facet-field-heading button.collapsed::after {
    transform: rotate(0deg);
  }

  .facet-values .facet-count {
    text-align: left;
  }
}
