@import 'bootstrap-tagsinput';
@import 'sir-trevor/main';
@import 'leaflet';
@import 'spotlight/spotlight';

/* button to forms should not push to the next line */
form.button_to {
  display: inline-block;
}

body {
  margin-bottom: 0;
}

/* hide external resource chooser when there's only one option
   so that we don't have too many nested tablists */
#external_resources_form .nav-item:only-child {
  display: none;
}
