@import url("https://fonts.googleapis.com/css?family=Markazi+Text:400,500,700&display=swap");

$font-family-base:
  "Markazi Text",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$font-size-base: 1.25rem;
$line-height-base: 1.33;

$primary: #0f2450;
$secondary: #6c757d;
$info: #328fc7;

$color-blackish: #2e2d29;
$color-black-medium: #585754;
$color-black-light: #777;
$color-gray-dark: #adb5bd;
$color-gray-medium: #ccc;
$color-gray-light: #ededed;
$color-gray-lighter: #edeeef;
$color-gray-lightest: #f8f8f8;

$link-color: lighten($primary, 10%);
$body-background-color: #f7f7f7;

$footer-background-color: $primary;
$footer-height: 160px;
$footer-top-margin: 20px;
$footer-mobile-adjustment: 100px;

$text-muted: $color-black-medium; // with gray body bg, need darker muted color

$pagination-active-color: $color-gray-lightest;
$pagination-active-bg: $primary;
$pagination-active-border: $color-gray-medium;

$breadcrumb-bg: transparent;
$breadcrumb-active-color: $color-black-medium;
$breadcrumb-divider-color: $color-black-light;

$topnav-background-color: rgba($primary, 0.85);
$navbar-active-bg: rgba(255, 255, 255, 0.33);
$text-muted: #666;

//  Increase bootstrap z-indexes by 1000 so our application will always be "on top" of Mirador (e.g. modals, menus, etc)
$zindex-dropdown: 2000;
$zindex-sticky: 2020;
$zindex-fixed: 2030;
$zindex-modal-backdrop: 2050;
$zindex-modal: 2055;
$zindex-popover: 2070;
$zindex-tooltip: 2080;
