$color-blackish: #2e2d29;
$color-black-medium: #585754;
$color-black-light: #777;
$color-gray-medium: #ccc;
$color-gray-light: #ededed;
$color-gray-lightest: #f8f8f8;

$clir-burgundy: #560319;
$dlf-blue:      #046BA5;

$footer-height: 120px;
$footer-top-margin: 20px;
$footer-mobile-adjustment: 40px;

$text-muted: $color-black-medium; // with gray body bg, need darker muted color

$pagination-active-color: $color-blackish;
$pagination-active-bg: $color-gray-medium;
$pagination-active-border: $color-gray-medium;

$body-bg: $color-gray-lightest
