$color-blackish: #2e2d29;
$color-black-medium: #585754;
$color-black-light: #777;
$color-gray-medium: #ccc;
$color-gray-light: #ededed;
$color-gray-lightest: #f5f5f5;

$clir-burgundy: #560319;
$dlf-blue:      #046BA5;

$text-muted: $color-black-medium; // with gray body bg, need darker muted color
