$color-blackish: #2e2d29;
$color-black-medium: #585754;
$color-black-light: #777;
$color-gray-medium: #ccc;
$color-gray-light: #ededed;
$color-gray-lightest: #f8f8f8;

$body-background-color: #f7f7f7;

$footer-background-color: #0f2450;
$footer-height: 120px;
$footer-top-margin: 20px;
$footer-mobile-adjustment: 50px;

$text-muted: $color-black-medium; // with gray body bg, need darker muted color

$pagination-active-color: $color-blackish;
$pagination-active-bg: $color-gray-medium;
$pagination-active-border: $color-gray-medium;

$breadcrumb-bg: transparent;
$breadcrumb-active-color: $color-black-medium;
$breadcrumb-divider-color: $color-black-light;

$topnav-background-color: rgba(#0f2450, 0.85);
$navbar-active-bg: rgba(#0F2450, 0.8);
